<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Line98 :: Game written on Phoenix Live View</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <div class="logo">
        Line <span>9</span><i>8</i>
      </div>
      <div class="rule">
        <b>The Rule</b>: you should collect at least <b>5 balls</b> of the <b>same color</b> in one line (horizontal or vertical) to earn scores. <br>
        Each step of the game generates 3 small balls, which turn into a normal ball one step further. <br>
        The goal is to get as many scores as possible. When there is no free cell left, the game line98 is over and you can start a new one.
      </div>
    </header>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156986921-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156986921-1');
    </script>
  </body>
</html>
