/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.box {
  display: block;
  background: #444;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 0;
  text-align: center;
  padding-top: 13px;
}

.ball-red {
  background: radial-gradient(circle at 50px 50px, #500, #a00);
  cursor: pointer;
}

.ball-green {
  background: radial-gradient(circle at 50px 50px, #050, #0a0);
  cursor: pointer;
}

.ball-blue {
  background: radial-gradient(circle at 50px 50px, #005, #00a);
  cursor: pointer;
}

.dot-red::after {
  color: #900;
  content: "";
  width: 10px;
  height: 10px;
  background: radial-gradient(circle at 10px 10px, #500, #a00);
  display: inline-block;
  border-radius: 50%;
}

.dot-green::after {
  color: #090;
  content: "";
  width: 10px;
  height: 10px;
  background: radial-gradient(circle at 10px 10px, #050, #0a0);
  display: inline-block;
  border-radius: 50%;
}

.dot-blue::after {
  color: #009;
  content: "";
  width: 10px;
  height: 10px;
  background: radial-gradient(circle at 10px 10px, #005, #00a);
  display: inline-block;
  border-radius: 50%;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-7px); }
}

.selected {
  border: 1px solid black;
  animation: bounce 0.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


.wrapper {
  width: 550px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
  grid-gap: 5px;
  position: relative;
}

.gameover {
  position: absolute;
  top: 200px;
  left: 190px;
  z-index: 2;
  text-align: center;
}
.overlay {
  position: absolute;
  background-color: #fff;
  opacity: 0.6;
  width: 100%;
  z-index: 1;
  height: 100%;
}
