/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.logo {
  font-size: 32px;
  margin-right: 30px;
  float: left;
}

.rule {
  text-align: right;
  padding-right: 10px;
}

.wrapper {
  width: 550px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
  grid-gap: 5px;
  position: relative;
}

.game {
  float: left;
  margin-right: 20px;
}

.box {
  display: block;
  background: #444;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 0;
  text-align: center;
  padding-top: 13px;
}

.gameover {
  position: absolute;
  top: 100px;
  left: 90px;
  z-index: 2;
  text-align: center;
}

.dot-red::after {
  color: #900;
  content: "";
  width: 10px;
  height: 10px;
  background: radial-gradient(circle at 10px 10px, #500, #a00);
  display: inline-block;
  border-radius: 50%;
}

.dot-green::after {
  color: #090;
  content: "";
  width: 10px;
  height: 10px;
  background: radial-gradient(circle at 10px 10px, #050, #0a0);
  display: inline-block;
  border-radius: 50%;
}

.dot-blue::after {
  color: #009;
  content: "";
  width: 10px;
  height: 10px;
  background: radial-gradient(circle at 10px 10px, #005, #00a);
  display: inline-block;
  border-radius: 50%;
}

.form-add-result {
  background-color: #000;
  opacity: 0.5;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 10px;
}

.form-add-result input, input:focus {
  color: #fff;
  width: 70%;
  float: left;
}

.form-add-result button {
  background-color: green;
  border-color: lime;
}

.twitter {
  font-weight: 900;
  color: aqua;
}


@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 0;
  }

  .logo {
    margin-right: 10px;
    float: none;
  }

  .rule {
    padding-right: 5px;
    text-align: justify;
  }

  .leaderboard {
    padding-top: 20px;
  }

  .game {
    float: none;
  }

  .wrapper {
    width: 400px;
    display: grid;
    grid-template-columns: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px ;
    grid-gap: 4px;
    position: relative;
  }

  .box {
    height: 35px;
    width: 35px;
    padding-top: 4px;
  }

  .gameover {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 2;
    text-align: center;
  }

  .dot-red::after {
    width: 6px;
    height: 6px;
    background: radial-gradient(circle at 6px 6px, #500, #a00);
  }

  .dot-green::after {
    width: 6px;
    height: 6px;
    background: radial-gradient(circle at 6px 6px, #050, #0a0);
  }

  .dot-blue::after {
    width: 6px;
    height: 6px;
    background: radial-gradient(circle at 6px 6px, #005, #00a);
  }
}


.move {
  background: #aaa;
}

.ball-red {
  background: radial-gradient(circle at 65% 15%, white 1px, red 3%, darkred 60%, red 100%); 
  cursor: pointer;
}

.ball-green {
  background: radial-gradient(circle at 65% 15%, white 1px, lime 3%, darkgreen 60%, lime 100%); 
  cursor: pointer;
}

.ball-blue {
  background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%); 
  cursor: pointer;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-7px); }
}

.selected {
  box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.75);
  animation: bounce 0.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.overlay {
  position: absolute;
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.score {
  padding: 5px;
}
.score--updated {
  border-radius: 3px;
  animation: highlight 1000ms ease-out;
}
@keyframes highlight {
  0% {
    background-color: #c00;
  }
  100% {
    background-color: #fff;
  }
}
